:root {
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
    --black: #1f1f1f;
    --color-text: #313131;
    --red: #f54932;
    --beige: #e9ded4;
    --yellow: #fbce51;
    --blue: #3057a2;
    --gray: #d0d0d0;
}