.info {
    margin-top: 80px;
}

.info__lecture {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__text {
    width: 63%;

    p {
        display: inline;
    }
}

.info__lecture-pic {
    border-radius: 50%;
    width: 394px;
    height: 250px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.info__lecture-pic_mobile {
    display: none;
}

@media (max-width: 767px) {
    .info {
        margin-top: 50px;
    }

    .info__lecture {
        width: 100%;
    }

    .info__lecture-pic {
        width: 100%;
        height: 212px;
    }

    .info__lecture-pic_mobile {
        display: block;
        margin: 24px 0;
    }

    .info__lecture-pic_desc {
        display: none;
    }

    .info__text {
        width: 100%;

        p {
            display: block;
        }
    }
}