<section class="info" id="info">
    <div class="info__wrapper container">
        <div class="info__lecture">
            <div class="info__text">
                <p class="text-large">Чтобы поддержать Международный васюкинский турнир</p>
                <div class="info__lecture-pic info__lecture-pic_mobile">
                    <img src="%=static=%img/content/players.jpg" alt="Игроки в шахматы">
                </div>
                <p class="text-large">посетите лекцию на тему: <span>«Плодотворная дебютная идея»</span></p>
            </div>

            <div class="info__lecture-pic info__lecture-pic_desc">
                <img src="%=static=%img/content/players.jpg" alt="Игроки в шахматы">
            </div>
        </div>
    </div>
</section>