.hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: no-repeat center/cover url(%=static=%general/bg.png) var(--beige);
}

.hero__imgs {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    width: 1603px;
    left: 50%;
    transform: translateX(-50%);
}

.hero__imgs-wrapper {
    height: 100%;
}

.hero__container {
    position: relative;
}

.hero__img {
    position: absolute;
}

.hero__img_1 {
    top: -100px;
    right: 90px;
    animation: rotateCircle 20s linear infinite;
}

.hero__img_2 {
    bottom: 0;
    right: 275px;
    animation: 0.5s up 1s linear forwards;
}

.hero__img_3 {
    right: 625px;
    bottom: -40px;
    animation: 0.5s up2 1s linear forwards;
}

.hero__img_4 {
    bottom: 0;
}

.hero__img_5 {
    bottom: 20px;
    right: 0;
    opacity: 0;
    animation: 0.3s visible 1s linear forwards;
}

.hero__img_6 {
    bottom: 0;
    right: 0;
    opacity: 0;
    animation: 0.3s visible2 1s linear forwards;
}

.hero__wrapper {
    width: 542px;
    padding: 124px 0 130px;
    position: relative;
    z-index: 5;

    h1 {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-size: 3.75rem;
        line-height: 66px;
        text-transform: uppercase;

        span {
            display: block;

            &:nth-child(2) {
                text-align: center;
            }

            &:last-of-type {
                text-align: right;
            }
        }
    }

    p {
        margin-top: 24px;
        font-size: 1.125rem;
        line-height: 23px;
        text-align: center;
    }
}

.hero__controls {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.hero__btn {
    flex: 1;
    padding: 0 49px;
    min-height: 72px;
    display: flex;
    text-align: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 70px;

    span {
        font-weight: 500;
        line-height: 20px;
    }
}

.hero__btn-fill {
    background: var(--black);
    color: var(--white);

    &:hover,
    &:focus {
        background: var(--yellow);
        color: var(--black);
    }
}

.hero__btn-empty {
    color: var(--black);
    border-color: var(--black);

    &:hover,
    &:focus {
        background: var(--black);
        color: var(--white);
    }
}

@keyframes visible2 {
    0% {
        right: 0;
        opacity: 0;
    }

    100% {
        right: 450px;
        opacity: 1;
    }
}

@keyframes rotateCircle {
    0% {
        rotate: 0;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes up {
    0% {
        bottom: 0;
        right: 300px;
        rotate: -20deg;
    }

    80% {
        bottom: 290px;
    }

    100% {
        bottom: 270px;
        right: 275px;
        rotate: 0;
    }
}

@keyframes up2 {
    0% {
        bottom: -40px;
        right: 650px;
        rotate: 20deg;
    }

    80% {
        bottom: 195px;
    }

    100% {
        right: 625px;
        bottom: 165px;
        rotate: 0;
    }
}

@keyframes visible {
    0% {
        right: 0;
        opacity: 0;
    }

    100% {
        right: 160px;
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .hero__imgs {
        transform: translateX(-50%) scale(0.7);
        bottom: -130px;
    }

    .hero__img_1 {
        top: 0;
    }
}

@media (max-width: 767px) {
    .hero__wrapper {
        padding: 90px 0 291px;

        h1 {
            font-size: 2.25rem;
            line-height: 40px;
        }

        p {
            text-align: left;
        }
    }

    .hero__imgs {
        top: auto;
        height: 370px;
        bottom: 0;
        right: 0;
        width: 900px;
        transform: translateX(-50%);
    }

        
    .hero__img_1 {
        top: -20px;
        right: auto;
        width: 340px;
        height: 340px;
        left: 50%;
        translate: -50%;
    }

    .hero__img_2 {
        width: 60px;
    }

    .hero__img_3 {
        width: 60px;
    }

    .hero__img_4 {
        width: 100%;
        right: 150px;
    }

    .hero__img_5 {
        display: none;
    }

    .hero__img_6 {
        bottom: 0;
        right: 0;
        width: 105px;
    }


    .hero__controls {
        flex-direction: column;
        margin-top: 32px;
        gap: 14px;
    }

    .hero__btn {
        padding: 0 40px;
        min-height: 47px;
        text-align: center;

        span {
            width: 100%;
        }
    }

    .hero__btn-empty {
        border-color: transparent;
        background: rgba(var(--white-rgb), 0.8);
    }

    @keyframes visible2 {
        0% {
            right: 0;
            opacity: 0;
        }
    
        100% {
            right: 390px;
            opacity: 1;
        }
    }

    @keyframes up {
        0% {
            bottom: 0;
            right: 370px;
            rotate: -20deg;
        }
    
        80% {
            bottom: 200px;
        }
    
        100% {
            bottom: 170px;
            right: 350px;
            rotate: 10deg;
        }
    }

    @keyframes up2 {
        0% {
            bottom: -40px;
            right: 490px;
            rotate: 20deg;
        }
    
        80% {
            bottom: 120px;
        }
    
        100% {
            right: 515px;
            bottom: 110px;
            rotate: 0;
        }
    }
}




