<section class="hero">
    <div class="hero__container">
        <div class="hero__imgs">
            <div class="hero__imgs-wrapper">
                <img class="hero__img hero__img_1" src="%=static=%img/content/circle.png" alt="Круг с текстом">
                <img class="hero__img hero__img_2" src="%=static=%img/content/queen.png" alt="Шахматная фигура, королева">
                <img class="hero__img hero__img_3" src="%=static=%img/content/king.png" alt="Шахматная фигура, король">
                <img class="hero__img hero__img_4" src="%=static=%img/content/city.png" alt="Город">
                <img class="hero__img hero__img_5" src="%=static=%img/content/simple.png" alt="Шахматная фигура, пешка">
                <img class="hero__img hero__img_6" src="%=static=%img/content/hourse.png" alt="Шахматная фигура, конь">
            </div>
        </div>
        <div class="container">
            <div class="hero__wrapper">
                <h1>
                    <span>Превратите уездный город</span>
                    <span>в столицу</span>
                    <span>земного шара</span>
                </h1>
                <p>Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам</p>
                <div class="hero__controls">
                    <a href="#info" class="hero__btn hero__btn-fill">
                        <span>Поддержать шахматную мысль</span>
                    </a>
                    <a href="#price" class="hero__btn hero__btn-empty">
                        <span>Подробнее о турнире</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {{> merquee/merquee }}
</section>