.controls {
    display: flex;
    align-items: center;
}

.controls__nums {
    display: flex;
    margin: 0 14px;

    span {
        line-height: 19.2px;
        color: var(--color-text);

        
        &:last-of-type {
            opacity: 0.6;
        }

        &:nth-child(2) {
            padding: 0 5px;
            opacity: 0.7;
        }
    }
}

.controls__dots {
    display: flex;
    gap: 6px;
    margin: 0 16px;

    span {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--gray);

        &.active {
            background: var(--color-text);
        }
    }
}

.controls__btn {
    background: var(--color-text);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    padding: 0;

    &:hover,
    &:focus {
        background: var(--yellow);
    }

    &:disabled {
        background: var(--gray);
    }

    svg {
        margin-right: 5px;
    }
}

.controls__btn-next {
    transform: rotate(-180deg);
}

@media (max-width: 767px) {
    .controls__btn {
        width: 36px;
        height: 36px;
    }
}