<section class="price" id="price">
    <div class="price__wrapper container">
        <div class="price__pic">
            <img class="price__pic-img price__pic-img_1" src="%=static=%img/content/bg-price.png" alt="Валюта СССР">
            <img class="price__pic-img price__pic-img_2" src="%=static=%img/content/boom.png" alt="Взрыв">
            <img class="price__pic-img price__pic-img_3" src="%=static=%img/content/man.png" alt="Гроссмейстер">
            <img class="price__pic-img price__pic-img_4" src="%=static=%img/content/boom-2.png" alt="Взрыв">
            <img class="price__pic-img price__pic-img_5" src="%=static=%img/content/hourse-black.png" alt="Шахматная фигура, конь за черных">
            <img class="price__pic-img price__pic-img_6" src="%=static=%img/content/hand.png" alt="Рука со слоном">
        </div>
        <div class="price__info">
            <p class="text-large">и Сеанс <span>одновременной игры в шахматы на 160 досках</span> гроссмейстера О. Бендера</p>

            <div class="price__table">
                <table>
                    <tbody>
                        <tr>
                            <th>Место проведения:</th>
                            <td>Клуб «Картонажник»</td>
                        </tr>
                        <tr>
                            <th>Дата и время мероприятия:</th>
                            <td>22 июня 1927 г. в 18:00</td>
                        </tr>
                        <tr>
                            <th>Стоимость входных билетов:</th>
                            <td>20 коп.</td>
                        </tr>
                        <tr>
                            <th>Плата за игру:</th>
                            <td>50 коп.</td>
                        </tr>
                        <tr>
                            <th>Взнос на телеграммы:</th>
                            <td><span>100 руб.</span>  21 руб. 16 коп.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <a href="#" class="price__link link">По всем вопросам обращаться в администрацию к К. Михельсону</a>
        </div>
    </div>
</section>