<section class="members" id="members">
    <div class="members__wrapper container">
        <h2 class="title">Участники турнира</h2>
        <ul class="members__slider" id="slider-members">
            <li class="members__item">
                <div class="members__avatar">
                    <img src="%=static=%img/content/item.png" alt="">
                </div>
                <h3>Хозе-Рауль Капабланка</h3>
                <h4>Чемпион мира по шахматам</h4>
                <a href="#" class="members__more">Подробнее</a>
            </li>
            <li class="members__item">
                <div class="members__avatar">
                    <img src="%=static=%img/content/item.png" alt="">
                </div>
                <h3>Эммануил Ласкер</h3>
                <h4>Чемпион мира по шахматам</h4>
                <a href="#" class="members__more">Подробнее</a>
            </li>
            <li class="members__item">
                <div class="members__avatar">
                    <img src="%=static=%img/content/item.png" alt="">
                </div>
                <h3>Александр Алехин</h3>
                <h4>Чемпион мира по шахматам</h4>
                <a href="#" class="members__more">Подробнее</a>
            </li>
            <li class="members__item">
                <div class="members__avatar">
                    <img src="%=static=%img/content/item.png" alt="">
                </div>
                <h3>Арон Нимцович</h3>
                <h4>Чемпион мира по шахматам</h4>
                <a href="#" class="members__more">Подробнее</a>
            </li>
            <li class="members__item">
                <div class="members__avatar">
                    <img src="%=static=%img/content/item.png" alt="">
                </div>
                <h3>Рихард Рети</h3>
                <h4>Чемпион мира по шахматам</h4>
                <a href="#" class="members__more">Подробнее</a>
            </li>
            <li class="members__item">
                <div class="members__avatar">
                    <img src="%=static=%img/content/item.png" alt="">
                </div>
                <h3>Остап Бендер</h3>
                <h4>Чемпион мира по шахматам</h4>
                <a href="#" class="members__more">Подробнее</a>
            </li>
        </ul>
        {{> controls/controls }}
    </div>
</section>